/* Write your code here. */

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "Roboto";
  font-size: 30px;
  color: #0f172a;
  text-align: center;
  min-width: 250px;
  width: 70%;
  max-width: 300px;
}

.notification-container {
  min-width: 250px;
  width: 70%;
  max-width: 300px;
}

.message-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  margin-bottom: 50px;
}

.information {
  background-color: #0b69ff;
}

.icon {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.message {
  font-family: "Roboto";
  font-size: 12px;
  color: #ffffff;
}

.success {
  background-color: #2dca73;
}

.warning {
  background-color: #ffb800;
}

.error {
  background-color: #ff0b37;
}
